/* The transcription button container on the far right */
.show-transcription-container {
}

.show-transcription-button {
  height: 20px;
  padding: 3px 5px !important;
  font-size: 0.6rem !important;
  text-transform: none !important;
}